body {
	background-image: url("whale.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: FontAwesome, "Courier New", sans-serif;
}


.elizabeth {
	position: absolute;
	left:700px;
}

.text {
	position: absolute;
	top:200px;
}

.section-text {
	font-weight: bold;
	font-size: 3em;
}



img[src*="adel"]{
	border-radius: 50%;
}

div[class*="header-text"]{
	font-weight: bold;
	font-size: 2em;
}

.nav-item{
	font-weight: bold;
	font-size: 1em;
}

/*img[src*="slide"] {*/
	/*width: 5em;*/
	/*height: 5em;*/
/*}*/

.carousel-inner img {
	width: 100%;
	height: 30em;
	margin: auto;
}

